:root {
  --gradient: #384dff;
  --gradient-light: #24cdff;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
  background-color: #f8f9fa;
  color: rgb(12, 51, 12);
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: normal;
}

ul {
  padding: 0;
}

li {
  display: flex;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
  transform: scale(110deg);
}

header {
  width: 100%;
  margin: 0px;
  padding: 20px 150px;
  display: flex;
  position: sticky;
  top: 0;
  height: 115px;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(127deg, #384dff 0, #24cdff 91%);
}

.header-left {
  width: 50%;
  display: flex;
  align-items: start;
}

.img-logo {
}

.header__logo {
  width: 300px;
  letter-spacing: 0.3px;
  font-size: 30px;
  margin: 40px;
}

.header-right {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  height: 50px;
  font-size: 24px;
  font-family: "Roboto";
  align-items: center;
}

.header-link + .header-link {
  margin-left: 40px;
}

.header-btn {
  margin: 40px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 55px;
}

.header-btn:hover {
  color: #24cdff;
  border: 1px solid #fff;
  background-color: #fff;
}

button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgba(0, 128, 0, 0.771);
  border: none;
  border-radius: 15px;
}

.button:hover {
  border: 2px solid #ddd;
  background-color: green;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

/* Style buttons */
.btn {
  width: 170px;
  margin: 17px;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.wrapper {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0px 160px;
}

/* = home ============================= */

.home-page {
  display: flex;
  margin-top: 30px;

}

.prompt-eng {
  font-size: 26px;
  width: 50%;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Anonymous Pro", monospace;
  background-color: rgb(130, 129, 129);
  /* background-color: rgb(25, 25, 25); */
  border-radius: 15px;
  padding: 25px;

}

.column-benefits {
  margin-top: 20px;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.block-video {
  margin: 80px;
  background-color: #1a33452a;
  border-radius: 55px;
}

/* ==== MAIN ===================================== */
.main-page {
  display: flex;
  height: 665px;
  background-color: linear-gradient(127deg, #384dff 0, #1ddc96 91%);
  margin: 20px;
}

.main-items {
  font-weight: 800;
  font-family: "Poppins";
  font-size: 22px;
  letter-spacing: 0.5px;
}

.main-link {
  color: indigo;
  padding: 25px;
}

.block-random {
  margin-top: 60px;
}

.block-upgrade {
  margin-top: 20px;
}

.img-random {
  width: 900px;
  height: 500px;
  border-radius: 5px;
}

.img-upgrade {
  width: 900px;
  height: 600px;
  padding: 5px;
}

.block-promo {
  margin: 75px;
}

.block__prompts {
  display: flex;
  margin: 75px;
}

.container-titles {
  margin: 0;
  width: 700px;
  height: 400px;
}

/* ==========adapt ============================== */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ...;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
/* ====== subscribe ============================================ */
.block-subscribe {
  margin-top: 100px;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.btn-subscribe {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform 0.7s ease-in-out;
  margin-left: 10px;
}

.btn-subscribe:hover {
  transform: rotate(360deg);
}

.img-email {
  width: 70px;
  height: 70px;
}

input[type="email"] {
  padding: 10px;
  border: 2px solid #314de4;
  outline: none;
  border-radius: 5px;
  font-size: 24px;
  color: #314de4;
}

.subscribe {
  font-size: 60px;
  color: #314de4;
  font-family: Arial;
}

/* ====== contact form =========================== */

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  display: flex;
  margin-left: 600px;
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

/* === footer ===================================================== */
footer {
  margin: 0;
  padding: 0;
  background-color: #1a33452a;
  height: 350px;
}
.footer-block {
  width: 300px;
  padding: 70px;
}
.footer-column {
}

.footer-social {
}
.social-link {
}
.social-icon {
}

footer p {
  display: flex;
  font-size: 24px;
  margin: 0;
  padding: 0;
  justify-content: center;
}
